<html>

<head>
    <% include bootstrap_base.html %>
</head>

<body>
    <% include guideline.ejs %>
        <div class='main-container'>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span7 text-center">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span12">
                                    <form>
                                        <fieldset>
                                            <legend>表单项</legend>
                                            <label>表签名</label>
                                            <input type="text" />
                                            <span class="help-block">这里填写帮助信息.</span>
                                            <button type="submit" class="btn">提交</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer.html %>
</body>

</html>
