<html>

    <head>
        <% include bootstrap_base.html %>

        <!-- 星级标签 引用自https://github.com/kartik-v/bootstrap-star-rating -->
        <link href="/css/rate-star/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
        <script src="js/rate-star/star-rating.js" type="text/javascript"></script>

    </head>

    <body class='nav-md'>

        <div class='container body'>
            <div class="main_container">
                <% include guideline.ejs %>
                <div class='right_col container' role='main'>
                    <div class="jumbotron">
                        <h1><%-HotelName%></h1>
                        <p><%-OrderPrice%></p>
                        <p><%-OrderDate%></p>
                        <form method="post" action=<%-"'/comment?Hotel_ID="+Hotel_ID+"'"%>>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <legend>评价</legend>
                                        <label>评价星级</label>
                                        <input id="rate-star" type="text" class="rating" min=1 max=5 step=1 data-size="lg" name="rating" showCaption=false>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <span class="help-block">请打分</span>
                                        <label>评价内容</label>
                                        <input type="text" name="content">
                                        <button type="submit" class="btn btn-primary btn-sm">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <% include footer.html %>
        <%include footerContent.html %>
        <script type="text/javascript">
            $("rate-star").rating({size: 'lg', showCaption: false, max: 5, min: 1, step: 1});
        </script>
    </body>

</html>
