<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="home" class="site_title"><i class="fa fa-leaf"></i> <span> PayKitty</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <img src="img/profile.jpeg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>welcome,</span>
        <h2>诗伦</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
    <br />
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>&nbsp</h3>
        <ul class="nav side-menu">
          <!--li><a><i class="fa fa-table"></i> 审计账单 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="home">今日账单</a>
              </li>
              <li><a href="archive">历史账单</a>
              </li>
              <li><a href="log">修改日志</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-user"></i> 我的帐户 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="profile">账户信息</a>
              </li>
              <li><a href="settings">系统设置</a>
              </li>
              <li><a href="logout">登出</a>
              </li>
            </ul>
          </li-->
          <li><a><i class="fa fa-beer"></i> 出去走走 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/">旅店与飞行器预定</a>
              </li>
              <li><a href="admin">管理员</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="img/profile.jpeg" alt="">诗伦
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="profile">帐户信息</a>
            </li>
            <li>
              <a href="settings">
                <span class="badge bg-red pull-right">50%</span>
                <span>设置</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" onclick="audit_help();"><i class="fa fa-question-circle pull-right"></i>帮助</a>
            </li>
            <li><a href="logout"><i class="fa fa-sign-out pull-right"></i>登出</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- /top navigation -->
