<!DOCTYPE html>
<html lang='zh-CN'>

    <head>
        <% include bootstrap_base.html %>
    </head>

    <% include guideline.ejs %>

    <body>
        <div class='main-container'>
            <div class='container-fluid'>
                <div class='span12 text-center'>
                    <h1 style="color:purple;">订单确认</h1>
                </div>
                <div class='span12 text-center'>
                    <div class='order-box'>
                        <span>hahah</span>
                    </div>
                    <br>
                    <div class='span12 text-center'>
                        <button type="submit" style="" class="btn-primary">确认提交</button>
                    </div>
                </div>
                <% include footer.html %>
            </div>
        </div>

    </body>
</html>
