<html>

<head>
    <% include bootstrap_base.html %>
</head>

<body class='nav-md'>
  <div class='container body'>
    <div class='main_container'>
      <% include guideline.ejs %>

  <div class='right_col' role='main'>
    <div class='container-fluid'>
      <br><br><br>
      <ul class='list-group'>

        <% for (var i=0;i<data.length;i++){ %>
          <%- "<a class='list-group-item' href='./hotelDetail?Hotel_ID="+data[i].Hotel_ID+"'>"+
          "<div class='row'><div class='col-md-3'><img src='"+imgpath[i]+"' class='img-rounded'></div>"+"<div class='col-md-6'><div class='row'><h4 font-color='purple'> "+data[i].Hotel_Name+"</h4></div>"+
          "<div class='row'><div class='col-md-2'>"+data[i].Province+"</div>"+
          "<div class='col-md-2'> "+data[i].City+"</div></div>"+
          "<div class='row'>详细地址: "+data[i].Address+"</div></div>"+
          "<div class='col-md-3'><h3>"+price[i]+"起</h3></div>"+
          "</div>" %>

        </a>
        <br>
          <%}%>
      </ul>

  </div>
</div>
<% include footer.html %>
</div>
</div>

</body>
</html>
