<div class="container-fluid text-center">
    <form name="serachinfo" method="post" action="searchTicket">
        <legend>搜索机票</legend>
        <div class="row-fluid">
            <div class="col-md-4">
                  <div class="row-fluid">
                      <div class="col-md-12">
                          <label for="dtp_input2">出发日期</label>
                          <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" style='margin-bottom:0px;'>
                              <input class="form-control" size="16" type="text" value="" readonly placeholder="出发日期">
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </span>
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                          </div>
                          <input type="hidden" id="dtp_input5" value="" name='Depart_time'/><br/>
                    </div>
                     <div class="col-md-12">
                         <label for="dtp_input3">返程日期</label>
                         <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd" style='margin-bottom:0px;'>
                             <input class="form-control" size="16" type="text" value="" readonly placeholder="返程日期">
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-remove"></span>
                             </span>
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                         <input type="hidden" id="dtp_input4" value="" name='Return_time'/>
                     </div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="row-fluid">
                      <div class="col-md-6">
                          <label>出发地</label>
                          <input type="text" name="Departure" class='form-control' placeholder="出发地"/>
                      </div>
                      <div class="col-md-6">
                          <label>目的地</label>
                          <input type="text" name="Destination" class='form-control' placeholder="目的地"/>
                          <br/>
                      </div>
                      <div class="col-md-5">
                          <label>最低价格</label>
                          <input type="text" name="textfield_minprice" class='form-control' placeholder="最低价格" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                      </div>
                      <div class="col-md-5">
                          <label>最高价格</label>
                          <input type="text" name="textfield_maxprice" class='form-control' placeholder="最高价格" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/><br/>
                      </div>
                      <div class="col-md-2">
                          <br>
                          <button type="submit" class="btn btn-primary btn-sm btn-block" style='height:37px'>提交</button>
                      </div>
                  </div>
              </div>

        </div>

    </form>
</div>
