<html>

<head>
    <% include bootstrap_base.html %>
</head>
<% include guideline.ejs %>

    <body>
        <div class=‘main-container’>
          <div class="span7 text-center">
<% for (var i=0;i<data.length;i++){ %>
            <li>

                    <%- data[i].Hotel_Name+"<br>" %>
                    <%- data[i].Province+"<br>" %>
                        <%}%>
            </li>
          </div>
        </div>
        <% include footer.html %>
    </body>

</html>
