<form name="serachinfo" method="post" action="./SearchHotel">
    <legend>搜索酒店</legend>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <label for="dtp_input2">入住日期</label>
                        <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" type="text" value="" readonly placeholder="入住日期">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" name='date_checkin' />
                        <br/>
                    </div>
                    <div class="col-md-12">
                        <label for="dtp_input3">离店日期</label>
                        <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                            <input class="form-control" type="text" value="" readonly placeholder="离店日期">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="hidden" id="dtp_input3" value="" name='date_checkout' />
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row-fluid">
                    <div class="col-md-3">
                        <label>所在省</label>
                        <input type="text" name="combobox_province" class='form-control' placeholder="输入省名" />
                    </div>
                    <div class="col-md-3">
                        <label>城市</label>
                        <input type="text" name="combobox_city" class='form-control' placeholder="输入城市名" />
                    </div>
                    <div class="col-md-6">
                        <label>地段</label>
                        <input type="text" name="textfield_address" class='form-control' placeholder="输入地段" />
                        <br/>
                    </div>
                    <div class="col-md-6">
                        <label>酒店名</label>
                        <input type="text" name="textfield_hotel_name" class='form-control' placeholder="输入酒店名" />
                    </div>
                    <div class="col-md-3">
                        <label>最低价格</label>
                        <input type="text" name="textfield_minprice" class="form-control" placeholder="您能接受的最低的价格" />
                    </div>
                    <div class="col-md-3">
                        <label>最高价格</label>
                        <input type="text" name="textfield_maxprice" class="form-control" placeholder="能接受的最高价" />
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row text-center'>
        <button type="submit" class="btn btn-primary btn-lg">提交</button>
    </div>
</form>
