<html>

<head>
    <% include bootstrap_base.html %>
</head>
  <% include guideline.ejs %>
<body>
  <div class='main-container'>
    <div class='span4 text-center'>
      <ul class='list-group'>
        <% for (var i=0;i<data.length;i++){ %>
          <%- "<a class='list-group-item' href='./searchResults?Hotel_ID="+data[i].Hotel_ID+"'>"+"酒店名称: "+data[i].Hotel_Name+"<br>"+
          "所在省: "+data[i].Province+"\t"+
          "城市: "+data[i].City+"<br>"+
          "详细地址: "+data[i].address %></a><br>
          <%}%>
      </ul>
    </div>
  </div>
<% include footer.html %>
</body>
</html>
