/* General styles for all menus */
.order-box{
	width:500px;
	height:400px;
	padding:0 20px;
	border:1px solid #fff;
	color:#000;
	margin-top:0px;
	border-radius:8px;
	background: white;
	box-shadow:0 0 15px #222;
	background: -moz-linear-gradient(top, #fff, #efefef 8%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
	font:11px/1.5em 'Microsoft YaHei' ;
	position: relative;
	left:25%;
	top:0%;
	margin-left:0px;
	margin-top:0px;
}


.orderBox{
	width:800px;
	height:600px;
	padding:0 20px;
	border:1px solid #fff;
	color:#000;
	margin-top:40px;
	border-radius:8px;
	background: white;
	box-shadow:0 0 15px #222;
	background: -moz-linear-gradient(top, #fff, #efefef 8%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
	font:11px/1.5em 'Microsoft YaHei' ;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-210px;
	margin-top:-115px;
}

.cbp-spmenu {
	background: #ffffff;
	position: fixed;
	width: 240px;
	height: 100%;
	top: 55px;
	z-index: 1000;
	border-right: 1px solid #c5c5c5;
	box-shadow: 10px 0px 25px #c5c5c5;
}

.cbp-spmenu a {
	display: block;
	color: black;
	font-size: 1.1em;
	font-weight: 300;
	border-bottom: 1px solid #c5c5c5;
	padding: 1em 1em 1em 3em;
}

.cbp-spmenu a:hover {
	background: #c5c5c5;
}

.cbp-spmenu a:active {
	background: #c5c5c5;
	color: white;
}
.main-container {
	overFlow-x:scroll;
	overFlow-y:scroll;
	position: fixed;
	left: 240px;
	right: 0px;
	top: 110px;
	bottom: 0px;
	z-index: 1000;
}
